body {
	padding-top: 50px;
    background-color: #223366;
    overflow-x: hidden;
}

.index-body {
    padding-top: 0;
	font-size: 18px;
}

.content-section {
	padding: 30px 0;
    border-left: 3px solid #66aa77;
    border-top: 1px solid #66aa77;
    border-right: 1px solid #66aa77;
    border-bottom: 5px solid #66aa77;
	background-color: #FFF;
	margin-bottom: 75px;
}
 
/*Navbar Color*/
.navbar-color {
	margin: 0;
    width: 100%;
	background: transparent linear-gradient(to bottom, #333355 0%, #223366 100%) repeat scroll 0% 0%;
    border-width: 0;
}

.floating {
    position: absolute;
    bottom: 0;
    z-index: 1030;
}

/*Navbar Brand*/
.navbar-color .navbar-brand {
    color: #E3E3E3;
    background-color: transparent;
}
.navbar-color .navbar-brand:focus, .navbar-color .navbar-brand:hover {
    color: #FFFFFF;
    background-color: transparent;
}

/*Active Nav*/
.navbar-color .navbar-nav > .active > a, .navbar-color .navbar-nav > .active > a:focus, .navbar-color .navbar-nav > .active > a:hover {
    color: #FFFFFF;
}
.navbar-color .navbar-nav > .active > a, .navbar-color .navbar-nav > .open > a {
    background: transparent linear-gradient(to bottom, #333355 0, #1B2952 100%) repeat scroll 0 0;
}

/*Navbar toggle*/
.navbar-color .navbar-toggle:focus, .navbar-color .navbar-toggle:hover {
    background: transparent linear-gradient(to bottom, #333355 0%, #223366 100%) repeat scroll 0% 0%;
}
.navbar-color .navbar-toggle {
    border-color: #E3E3E3;
}

/*Navbar Links*/
.navbar-color .navbar-nav li > a, .navbar-color .navbar-nav li > a:visited {
    color: #E3E3E3;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .navbar-color .navbar-nav li > a:active, .navbar-color .navbar-nav li > a:hover {
    color: #FFFFFF;
}

/*Dropdown nav menus*/
.dropdown-menu li:not(.active-dropdown) a {
    color: #E3E3E3 !important;
}
.dropdown-menu > li a:hover {
	color: #FFFFFF !important;
}
.active-dropdown a {
	color: #FFFFFF !important;
}
.dropdown-menu, .dropdown-menu > .active-dropdown, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	background: transparent linear-gradient(to bottom, #333355 0%, #1B2952 100%) repeat scroll 0% 0%;
}

.section-header, .about-me{
	text-align: center;
	margin-bottom: 30px;
}

.about-me, .center-text{
    text-align: center;
}
/* Featurettes */
.featurette-divider {
    margin: 20px 30px; /* Space out the Bootstrap <hr> more */
}

.featurette {
	margin: 0 30px;
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.content-guts {
    margin: 0 30px;
}

.timeline-entry {
	padding: 30px 0;
	margin: 0 30px 30px;
	box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.05);
	border: 1px solid #DDD;
}


.timeline-title {
	font-weight: bold;
	font-size: 21px;
	margin-left: 20px;
}

.small-chart {
	display: inline-block;
	vertical-align: top;
}
.small-chart p {
	text-align: center;
	font-weight: bold;
}
.chart-header {
	display:inline-block;
	text-align: center;
	font-size: 20pt;  
}

.small-chart polyline {
    opacity: 0.3;
    stroke: #000;
    stroke-width: 2px;
    fill: none;
}

.metric-charts {
	text-align: center;
}

.metric-charts span{
	display: inline-block;
	vertical-align: top;
}


.gauge g.arc {
    fill: steelblue;
}

.gauge g.pointer {
    fill: #e85116;
    stroke: #b64011;
}

.gauge g.label text {
    text-anchor: middle;
    font-size: 14px;
    font-weight: bold;
    fill: #666;
}

.gauge .tickline {
    stroke: "black";
    stroke-width: 1px;

}

.gauge .gauge-footer {
	display:inline-block;
    text-align: center;
}

.gauge .gauge-value {
    color: steelblue;
    font-size: 18pt;
}

.gauge .gauge-status {
    font-size: 14pt;
}

.welcome {
	min-width: 320px;
	height:100vh;
	background-image: url("../images/aurora.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.welcome-message {
	padding-top: 30vh;
    text-align: center;
	font-size: 10vh;
	color: #FFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.main {
	padding-top: 50px;
}

.btn-purplish.active, .btn-purplish:active {
	background-color: #3D3D5C;
    border-color: #232334;
}

.btn-purplish:focus, .btn-purplish:hover {
	background-color: #3D3D5C;
    background-position: 0px -15px;
}
.timeline-summary {
    border-left: 3px solid #DDD;
}

.btn-purplish.active, .btn-purplish.focus, .btn-purplish:active, .btn-purplish:focus, .btn-purplish:hover, .open > .dropdown-toggle.btn-purplish {
    color: #FFF;
}

.btn-purplish {
	color: #FFF;
    background-image: linear-gradient(to bottom, #666699 0px, #3D3D5C 100%);
    background-repeat: repeat-x;
    border-color: #31314A;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.075);
}
#color-sample {
    height: 300px;
    line-height: 300px;
    font-size:40px;
}