.game {
	width: 850px;
	padding: 0 50px;
	background: linear-gradient(#D7D7DF, #8E9AB0);
	border: 3px solid #7D7E80;
}

.center {
  margin: 10px auto 10px auto;
  text-align: center;
}

.right {
  float: right;
  margin-right: 10px;
}

.left {
  float: left;
  margin-left: 10px;
}


/*New game button*/
.board-btn-win {
  background: #f0f0f0 url(../../icons/MinesweeperJS/smiley.ico) center no-repeat;
  width: 30px;
  height: 30px;
  background-size: 24px 24px;
}
.board-btn-normal {
  background: #f0f0f0 url(../../icons/MinesweeperJS/smiley1.ico) center no-repeat;
  width: 30px;
  height: 30px;
  background-size: 24px 24px;
}
.board-btn:active {
  background: #f0f0f0 url(../../icons/MinesweeperJS/smiley2.ico) center no-repeat;
  width: 30px;
  height: 30px;
  background-size: 24px 24px;
}
.board-btn-game-over {
  background: #f0f0f0 url(../../icons/MinesweeperJS/smiley3.ico) center no-repeat;
  width: 30px;
  height: 30px;
  background-size: 24px 24px;
}


/*Minesweeper Buttons*/
.cell-btn{
  font-weight: bold;
  width: 25px;
  height: 25px;
  border: 1px solid blue;
  background: linear-gradient(to bottom right, white, blue);
  padding: 0;
}
.cell-btn:hover:not(.flag):not(.disabled):not(.clickable):not(.mineable) {
  background: linear-gradient(to bottom right, white, darkblue);
}
.cell-btn:active:not(.flag):not(.disabled){
  background: #ccc;
}

.flag:hover {
  background: url(../../icons/MinesweeperJS/flag.ico) center no-repeat,
			  linear-gradient(to bottom right, white, darkblue);
}

/*Class for disabled buttons*/
.disabled{
  background: #f0f0f0;
}

.rl-click {
  background: #ccc;
}

/*Colors for button text*/
.one {
  color: blue;
}
.two {
  color: green;
}
.three {
  color: red
}
.four {
  color: darkblue;
}
.five {
  color: brown;
}
.six {
  color: cyan;
}
.seven {
  color: black;
}
.eight {
  color: gray;
}

.flag{
  background: url(../../icons/MinesweeperJS/flag.ico) center no-repeat,
	          linear-gradient(to bottom right, white, blue);
}
.flag.disabled {
  background: url(../../icons/MinesweeperJS/flag.ico) center no-repeat,
              #f0f0f0;	
}
.mine {
  background: #f0f0f0 url(../../icons/MinesweeperJS/mine2.ico) center no-repeat;
}
.mine-cause {
  background: #f0f0f0 url(../../icons/MinesweeperJS/mine3.ico) center no-repeat;
}

.clickable:not(.disabled):not(.flag) {
  background: #8FFF8F;
}

.clickable:hover:not(.disabled):not(.flag) {
  background: #009933;
}

.clickable.flag {
  background: url(../../icons/MinesweeperJS/flag.ico) center no-repeat,
  			  #8FFF8F;
}

.clickable:hover.flag {
  background: url(../../icons/MinesweeperJS/flag.ico) center no-repeat,
  			  #009933;
}

.mineable:not(.disabled) {
  background: #FF5C5C;
}

.mineable:hover:not(.disabled) {
  background: #CC0000;
}