$brand-primary: #223366;
$brand-secondary: #66aa77;
$brand-tertiary: #ba9ce4;
$brand-quaternary: #d1c4ff;
$brand-quinary: #ccff8c;

$theme-colors: (
  "brand-primary": $brand-primary,
  "brand-secondary": $brand-secondary,
  "brand-tertiary": $brand-tertiary,
  "brand-quaternary": $brand-quaternary,
  "brand-quinary": $brand-quinary
) !default;