
.welcome {
  height: calc(100vh - 3.5rem);
  background-image: url("~@/assets/images/aurora.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

  .welcome-message {
    padding-top: 30vh;
    text-align: center;
    font-size: 10vh;
    color: #FFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}